.container{
    ul {
        .pageNumber {
            color: red;
        }
        li {
            color: #007BFF;
            cursor: pointer;
        }
        li:hover {
            color: #0010FF;
        }
    }
}